<div class="d-flex">
    <div class="m-2" *ngIf="isAuthenticated && userFullName">
        Welcome back {{userFullName}}
    </div>

    <button *ngIf="isAuthenticated" (click)="logOut()" class="btn btn-primary btn-small m-1">Log Out</button>
    <button *ngIf="!isAuthenticated" routerLink="/create-account" class="btn btn-primary btn-small m-1">Create
        Account</button>
    <button *ngIf="!isAuthenticated" routerLink="/login" class="btn btn-primary btn-small m-1">Log In</button>
    <button *ngIf="isAuthenticated" routerLink="/members" class="btn btn-primary btn-small m-1">Members</button>
    <button *ngIf="isAuthenticated" routerLink="/order-history" class="btn btn-primary btn-small m-1">Orders</button>
</div>