<div class="row g-3">
  <div class="card col-md-6 col-lg-4 m-3" *ngFor="let tempProduct of products" style="width: 18rem;">
    <a routerLink="/products/{{tempProduct.id}}">
      <img src="{{tempProduct.imageUrl}}" class="card-img-top" alt="{{tempProduct.description}}">
    </a>
    <div class="card-body">
      <a routerLink="/products/{{tempProduct.id}}">
        <h5 class="card-title">{{tempProduct.name}}</h5>
      </a>
      <p class="card-text">{{tempProduct.unitPrice.toString() | currency:'CAD' }}</p>
      <button (click)="addToCart(tempProduct)" class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-8">
          <ngb-pagination [(page)]="thePage" [pageSize]="thePageSize" [collectionSize]="totalElements" [maxSize]="5"
            [boundaryLinks]="true" (pageChange)="listProducts()"></ngb-pagination>
        </div>
        <div class="col-md-4 mt-2">
          <span>Page Size: </span>
          <select #pageSize name="pageSize" (change)="changePageSize(pageSize.value)">
            <option selected="true">5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>